<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<TestRunParameters>
		<!-- Settings: Selenium Grid -->
		<Parameter name="Grid.Endpoint.Rhino" value="E:\AutomationEnvironment\WebDrivers" />

		<!-- Settings: Project and Build -->
		<Parameter name="Build.Number" value="Development" />
		<Parameter name="Project.Name" value="Rhino Connectors: Text" />

		<!-- Settings: Data -->
		<Parameter name="Data.ConnectionString" value="Data Source=.\\SQLEXPRESS;Initial Catalog=[catalog];Integrated Security=True" />

		<!-- Settings: Integration Testing -->
		<Parameter name="Integration.AttemptsDelay" value="15000" />
		<Parameter name="Integration.NumberOfAttempts" value="3" />
		<Parameter name="Rhino.UserName" value="automation@rhino.api" />
		<Parameter name="Rhino.Password" value="Aa123456!" />
		<Parameter name="Rhino.Integration" value="BrowserStack" />
	</TestRunParameters>

	<MSTest>
		<Parallelize>
			<Workers>1</Workers>
			<Scope>MethodLevel</Scope>
		</Parallelize>
	</MSTest>
</RunSettings>